{% extends "layouts/layout.html" %}

{% block title %}BlockSettle | About{% endblock %}

{% block content %}
  <section class="top-section top-section_sm">
    <div class="top-section_wrap">
      <div class="container">
        <h1>About</h1>
        <p>BlockSettle was established to develop matching and settlement models focused on blockchain ledger technologies.</p>

        <p>We offer a network of participants who are matched and settled bilaterally, in real-time, without incurring the risks associated with third-party custodianship over blockchain assets.</p>
      </div>
    </div>
  </section>

  <div class="page-content spot-dealing-page">
    <div class="container">
      <div class="row t-blocks_wrap flex-block">
        <div class="col-xs-6">
          <div class="t-block t-block_without-mb">
            <h3>Background</h3>
            <p>The impetus behind founding BlockSettle came from concerns regarding the need to rely on third-party custodians when exchanging a blockchain asset for an asset held as a book-entry record (cash). Third-party custodianship of blockchain ledger assets is widely considered the most significant risk for blockchain stakeholders.</p>

            <p>Launched in 2019, BlockSettle ensures that settlement instructions relating to the blockchain component of an underlying matched trade are executed directly between the parties to the transaction without incurring third-party custody risks.</p>

          </div>
        </div>
        <div class="col-xs-6">
          <div class="t-block t-block_invert-color t-block_without-mb">
          <h3>How BlockSettle Works</h3>
          <p>BlockSettle removes custody risks through the provision of The BlockSettle Terminal which provides its users with operational control over their blockchain balances and real-time access to the BlockSettle trading network.</p>
          <p>Users submit and respond to trading interest through a Request-for-Quote (RFQ) procedure where the parties to the trade exchange all relevant information to execute an on-chain transaction with its trade counterpart. In the event that a book-entry balance residing on the BlockSettle system is offered as payment, BlockSettle reserves the balance at the point of order entry and releases them when probabilistic settlement finality has been confirmed.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
      </div>
    </div>
  </div>
{% endblock %}



