{% extends "layouts/layout.html" %}

{% block title %}BlockSettle | Contact{% endblock %}

{% block content %}
  <section class="top-section">
    <div class="top-section_wrap">
      <div class="container">
        <h1>Contact</h1>

        <p>Our service is built around the recognition that the needs of our participants
        should come first. Whether it’s an inquiry with support, a Terminal question
        or a desire to utilise our registrar service, we’re here to support your needs
        whenever and wherever you need us.</p>
      </div>
    </div>
  </section>

  <div class="page-content spot-dealing-page">
    <div class="container">
      <div class="row t-blocks_wrap">
        <div class="col-sm-12 col-md-12">
          <div class="t-block m_t-block_contact">
          <h3>contact information</h3>
            <div class="row">
              <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="contact-item">
                  <div class="contact-item__head">
                    <img src="/static/images/headset.svg" class="contact-item__img" alt="" />
                    <div class="contact-item__info">
                      <span class="contact-item__label">support:</span>
                      <a href="mailto:support@blocksettle.com" class="contact-item__value" title="">support@blocksettle.com</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="contact-item">
                  <div class="contact-item__head">
                    <img src="/static/images/info.svg" class="contact-item__img" alt="" />
                    <div class="contact-item__info">
                      <span class="contact-item__label">info:</span>
                      <a href="mailto:hello@blocksettle.com " class="contact-item__value" title="">hello@blocksettle.com </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="contact-item">
                  <div class="contact-item__head">
                    <img src="/static/images/document-edit.svg" class="contact-item__img" alt="" />
                    <div class="contact-item__info">
                      <span class="contact-item__label">registrar services:</span>
                      <a href="mailto:registrarservice@blocksettle.com" class="contact-item__value" title="">registrarservice@blocksettle.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="schedule_wrap schedule_wrap-s schedule_wrap-wt">
            <div class="row">
              <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="contact-item">
                  <div class="contact-item__head">
                    <img src="/static/images/map.svg" class="contact-item__img" alt="" />
                    <div class="contact-item__info m_contact-item__info_contact">
                      <span class="contact-item__label m_contact-item__label_footer">address:</span>
                      <address class="contact-item__value m_contact-item__value_footer m_contact-item__text_first">BlockSettle AB, Ostergatan 21<br/>211 25 Malmo, Sweden</address>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
