{% extends "layouts/layout.html" %}

{% block title %}BlockSettle | Regulation{% endblock %}

{% block content %}
  <section class="top-section top-section_sm">
    <div class="top-section_wrap">
      <div class="container">
        <h1>Regulation</h1>

      </div>
    </div>
  </section>

  <div class="page-content spot-dealing-page">
    <div class="container">
      <div class="row t-blocks_wrap">
        <div class="col-sm-12 col-md-12">
          <div class="t-block">
            <p>BlockSettle AB is a licensed payment service provider in Sweden and under supervision of Sweden’s regulator Finansinspektionen since September 2016.</p>

            <p>BlockSettle is committed to upholding the highest of standards with regards to knowing our customers, anti-money laundering and compliance.</p>

            <p>On the website of Sweden’s Finansinspektion you may find a link to our
            <a href="{{ env.LICENSE_URL }}" target="_blank"
               class="js-track-activity"
               hs-id="000002739581">licence</a>.</p>

            <p>Should you have any questions with regards to our regulatory licence or any compliance matter, you may reach us on
            <a href="mailto:compliance@blocksettle.com">compliance@blocksettle.com</a>.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
      </div>
    </div>
  </div>
{% endblock %}



