<header>
    <div class="container header_wrap">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1">
                <a id="logo" href="/"></a>
            </div>

            <nav class="left-nav col-xs-7 col-sm-7 col-md-9">
                <ul class="top-level">
                    <li>
                        <span class="nav-title">PRODUCTS</span>
                        <div class="sub-nav sub-nav_description clearfix">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="sub-nav__link" href="/products/spot-xbt" data-control='navSpotXBT'>Spot XBT</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/products/spot-fx" data-control='navSpotFX'>Spot FX</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/products/private-market" data-control='navPrivateMarket'>Private Market</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="description_wrap">
                                <div class="description" id="navSpotXBT">BlockSettle Spot XBT contracts are based on real time XBT delivery between participants</div>
                                <div class="description" id="navSpotFX">Book-entry settlement where all participants are able to formulate responsive quotes</div>
                                <div class="description" id="navPrivateMarket">True DvP where tokenized assets are atomically swapped for XBT on the blockchain</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="nav-title">TRADING</span>
                        <div class="sub-nav sub-nav_description  clearfix">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="sub-nav__link" href="/trading/market-model" data-control='navMarketModel'>Market Model</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/trading/participants" data-control='navParticipation'>Participants</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/trading/spot-xbt-dealing" data-control='navSpotXBTdealing'>Spot XBT Dealing</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/trading/fee-schedule" data-control='navFees'>Fee Schedule</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="description_wrap">

                                <div class="description" id="navMarketModel">BlockSettle operates a multi-dealer trading network which offers request-for-quote order
                                    matching and real-time bilateral settlement between the parties to a trade</div>
                                <div class="description" id="navParticipation">BlockSettle maintains a multi-tiered participant structure suitable for your needs</div>
                                <div class="description" id="navSpotXBTdealing">BlockSettle encourages all participants to apply for Spot XBT dealing status</div>
                                <div class="description" id="navFees">Fee levels include trading and settlement and vary by product or product group</div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="nav-title">PRIVATE MARKET</span>
                        <div class="sub-nav sub-nav_description  clearfix">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="sub-nav__link" href="/listing/registrar-service" data-control='navRegistrarService'>Registrar Service</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/listing/private-market" data-control='navSecondaryMarket'>Private Market</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" data-control="navListings">Companies
                                            <p class="pull-right">></p>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="description_wrap">
                                <div class="description" id="navRegistrarService">
                                  A secure and cost-effective method of issuing representations of real-world tokenized assets on the
                                    blockchain in the form of tokens
                                </div>
                                <div class="description" id="navSecondaryMarket">
                                  Tokenized assets issued as representations of real-world assets through BlockSettle are offered in
                                    a Private Market where they trade against XBT
                                </div>
                                <div class="description" id="navListings">
                                    <ul>
                                        <li>
                                            <a class="sub-nav__link sub-nav__link--inside-description" href="/listings/blocksettle">
                                                <h5>
                                                    <b>BlockSettle</b>
                                                </h5>
                                                <p>
                                                    Real-time matching and settlement infrastructure
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="nav-title">TERMINAL</span>
                        <div class="sub-nav  sub-nav_description  clearfix">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="sub-nav__link" href="/terminal" data-control='navBlocksettleTerminal'>The&nbsp;Terminal</a>
                                    </li>
                                    <li>
                                        <a class="sub-nav__link" href="/terminal/downloads" data-control='navDownload'>Downloads</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="description_wrap">
                                <div class="description" id="navBlocksettleTerminal">Our flagship platform merges sophisticated key management tools with real-time access to
                                    markets</div>
                                <div class="description" id="navDownload">Download and discover the Terminal now</div>
                            </div>
                    </li>
                </ul>
            </nav>
            </div>
            <nav class="right-nav clearfix">
                <ul>
                    <li class="terminal">
                        <a href="/terminal/downloads">Try The Terminal</a>
                    </li>
                    <li class="register">
                        <a href="/pub-registration">Register</a>
                    </li>
                    <li class="login">
                        <a href="/pub-login">Login</a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
</header>
