<div class="maintenance-banner hidden">
  <div class="container">
    <div class="flex row">
      <div class="flex-1">
        <div class="maintenance-banner-info">
          <h3 class="maintenance-banner-title">
            Notice
          </h3>

          <p>
            This website is currently undergoing maintenance.
            <br>
            Some website functions are temporarily disabled.
          </p>
        </div>
      </div>

      <div class="flex-0 flex-align-center flex-justify-center">
        <div class="maintenance-banner-dismiss" title="Dismiss for some time" >&times;</div>
      </div>
    </div>
  </div>
</div>
